$color-header: #2f364a;
$color-header-nav: #6c758f;
$color-header-point: #1f2635;
$color-activity: #15a4fa;
$color-btn-add-book: #f2795a;
$color-navigate-column: #1f2637;
$color-main-text: #737d98;
$color-white: #ffffff;
$color-star: #ffab00 ;
$color-book-name: #444c63;
$color-author-name: #8792a5;
$color-input-text: #8c97b2;
$color-input-border: #c7cddb;
$color-input-cheked: #97b3ce;
$color-scroll-bar: #ccd5e4;
$color-footer: #181e2c;
$color-footer-help: #1f2637;
