$color-header: #2f364a;
$color-header-nav: #6c758f;
$color-header-point: #1f2635;
$color-activity: #15a4fa;
$color-btn-add-book: #f2795a;
$color-navigate-column: #1f2637;
$color-main-text: #737d98;
$color-main-navigate: #78829d;
$color-white: #ffffff;
$color-star: #ffab00 ;
$color-book-name: #444c63;
$color-author-name: #8792a5;
$color-input-text: #8c97b2;
$color-input-border: #c7cddb;
$color-input-cheked: #97b3ce;
$color-scroll-bar: #ccd5e4;
$color-footer: #181e2c;
$color-footer-help: #1f2637;
$color-must-read: #e64c66;
$color-best-of-list: #ffab00;
$color-classic-novel: #00bfdd;
$color-non-fiction: #7874cf;
$color-history-main: #6f7d95;
$color-history-light: #97b3ce;

$laptop-width:1350px;
$laptop-min-width:992px;
$tablet-width:757px;