@import "index.css";
.add__btn {
  font-family: "Proxima Nova b", Verdana, sans-serif;
}

html {
  font-size: 10px;
  background: #ffffff;
  color: #737d98;
}

a {
  text-decoration: none;
  color: #6c758f;
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1320px;
  margin: auto;
}

.container {
  display: flex;
  box-sizing: border-box;
}

@media (max-width: 1350px) {
  .wrapper {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 760px;
  }

  .container {
    display: block;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: none;
  }

  .container {
    display: block;
  }
}
.rating {
  display: flex;
  align-items: flex-end;
}

.rating__body {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 0;
}
.rating__body .stars {
  margin-bottom: 10px;
  display: flex;
}
.rating__body .stars img {
  display: block;
  margin: -1px;
  cursor: pointer;
  background: #ffffff;
  transition: color 0.5s;
}
.rating__body .stars img.star-rating-filled {
  background: #ffab00;
}
.rating__body .stars img.star-rating-blank {
  background: #ffffff;
}

.flex-container {
  display: flex;
}

.input__error {
  color: #e64c66;
  font-size: 1.3rem;
  margin-bottom: -25px;
}

.addBook__form input {
  margin-top: 15px;
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
  height: 44px;
  background: #2f364a;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin: 0;
  color: #ffffff;
}

.navigation__link {
  font-size: 1.3rem;
  padding-right: 25px;
}
.navigation__link:first-child {
  list-style-type: none;
}
.navigation__link::marker {
  color: #1f2635;
}

.user__header {
  display: flex;
  justify-content: space-around;
  width: 157px;
  background: #15a4fa;
  align-items: center;
  color: #ffffff;
}

.username__header {
  font-size: 1.3rem;
}

.avatar__wrapper {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #15a4fa;
}

.column {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 900px;
  background: #1f2635;
  color: #6c758f;
}

.add__btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 114px;
  border-bottom: 6px solid #19202e;
}

.add__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 44px;
  background: #f2795a;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 0;
  font-style: bold;
}
.add__btn:disabled {
  background: #78829d;
  cursor: not-allowed;
}

.main__nav__btns {
  margin: 0;
  height: 240px;
  padding: 0;
  border-bottom: 6px solid #19202e;
}

.nav__title {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  font-size: 1.3rem;
  color: #78829d;
  height: 38px;
  padding-left: 20px;
}
.nav__title:active {
  color: #ffffff;
  background: #15a4fa;
}

.categories {
  margin: 14px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 182px;
  border-bottom: 6px solid #19202e;
  font-size: 1.3rem;
}
.categories .cat__title {
  height: 36px;
}
.categories .cat__title::marker {
  font-size: 2.1rem;
}
.categories .must_read::marker {
  color: #e64c66;
}
.categories .best_of_list::marker {
  color: #ffab00;
}
.categories .classic_novels::marker {
  color: #00bfdd;
}
.categories .non_fiction::marker {
  color: #7874cf;
}

.history_element__container {
  padding-top: 10px;
}

.history_container {
  padding: 0 20px;
}

.history {
  color: white;
  overflow-y: scroll;
}
.history::-webkit-scrollbar {
  width: 20px;
}
.history::-webkit-scrollbar-track {
  background-color: inherit;
}
.history::-webkit-scrollbar-thumb {
  background: #ccd5e4;
  border-radius: 13px;
  border: 7px solid #1f2637;
}

.icon__block {
  display: block;
  padding: 10px 10px 0 0;
}

.container_history__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.history__element {
  font-size: 1.2rem;
  color: #6f7d95;
  display: flex;
  height: 80px;
}

.light__color {
  color: #97b3ce;
}

.addBook__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@media (max-width: 992px) {
  .column {
    display: none;
  }
}
.container__browse {
  display: flex;
  flex-direction: column;
}

.title__container {
  display: flex;
  align-items: center;
  height: 70px;
  background: #eef1f7;
  border-bottom: 1px solid #dadfea;
}

.title {
  padding-left: 20px;
  margin: 0;
}

.filter__browse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #eef1f7;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #dadfea;
}

.buttons__container {
  display: flex;
  padding-left: 20px;
}

.filter__btn {
  padding-right: 24px;
}

.filter__input {
  appearance: none;
}
.filter__input:checked + label {
  background: #97b3ce;
  color: #ffffff;
  padding: 4px 10px;
}

.filter__name {
  font-size: 1.2rem;
  cursor: pointer;
}

label {
  height: 20px;
  color: #8c97b2;
  border: 0;
  border-radius: 15px;
  background: inherit;
}

.container__input {
  padding-right: 20px;
  position: relative;
}

.search__loupe {
  position: absolute;
  height: 16px;
  width: 16px;
  background: inherit;
  cursor: pointer;
  top: 9px;
  right: 34px;
}

.svg-icon {
  fill: #8c97b2;
}

.books__container {
  display: flex;
  width: 1120px;
  height: 776px;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}
.books__container::-webkit-scrollbar {
  width: 20px;
}
.books__container::-webkit-scrollbar-track {
  background-color: inherit;
}
.books__container::-webkit-scrollbar-thumb {
  height: 350px;
  background: #ccd5e4;
  border-radius: 13px;
  border: 7px solid #ffffff;
}

.book__title {
  font-size: 1.6rem;
  margin-top: 9px;
  color: #444c63;
}

.book__author {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #8792a5;
}

.book__card {
  width: 200px;
  height: 350px;
  padding: 30px 0 0 20px;
}

.book__cover {
  width: 200px;
  height: 275px;
}

@media (max-width: 1350px) {
  .books__container {
    width: 770px;
  }

  .filter__btn {
    padding-right: 12px;
  }
}
@media (max-width: 757px) {
  .books__container {
    width: auto;
  }

  .filter__browse {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 74px;
  }

  .container__input input {
    width: 309px;
  }

  .container__input {
    padding-left: 20px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  background: #181e2c;
}

.button__footer {
  background: #15a4fa;
  border: none;
  height: 45px;
  width: 55px;
  cursor: pointer;
  color: #ffffff;
}

.question {
  background: #1f2637;
}

/*# sourceMappingURL=style.css.map */
